@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
	min-height: 100vh;
	line-height: 1.5;
}

@layer base {
	.pattern-topography {
		background-image: url("/topography-light.svg");
	}

	@variant dark {
		.pattern-topography {
			background-image: url("/topography-dark.svg");
		}
	}
}
